{% extends 'base.html' %}

{% block content %}
<div class="post-list">
  <h3 class="page-heading">About</h3>
  <hr>
  <p>The Dev Network website is an online community designed to make your social-life more active and stimulating. The Dev network can help you maintain existing relationships with people and share pictures and messages, and establish new ones by reaching out to people you've never met before.
    Is a Dev Networking Website which a web based service providing its users to construct a public or semipublic profile within a bounded system?
This website provides the features of keeping intact with one and all at oneplace . Dev Network lets keep in touch with your peers and pals, without boring you at the same time.Dev Network has various other attractive features of techno freaks. It’s coming up with new world which will be enjoying for every section of society.
</p>
</div>
{% endblock content %}